extends layout

block content
    ul
        each i in tours
            li #{i.name}-#{i.price}
                if currencies
                   p #{currency.abbrev}
    unless currencies
        p all prices in #{currency.name}
    if specialsUrl
        span I'm in a new block...but the context hasn't changed (sortof)
        p Check out our <a href="#{specialsUrl}" > specials!
    else
        p Please check back often for specials.

    p
        each curr in currencies
            a(href="#" class="currency") #{curr}
        else
            p Unfortunately, we currently only accept #{currency.name}.
